<ion-navbar *navbar>
  <ion-title *ngIf="child">{{child.firstName}} {{ child.lastName }}</ion-title>
</ion-navbar>

<ion-content padding class="child-details" *ngIf="child">
  <h3>Adres</h3>
  <p *ngIf="child.address">
    {{ child.address.street }} {{ child.address.number }}<br/>
    {{ child.address.zipCode }} {{ child.address.city }}
  </p>
  <p *ngIf="!child.address">
    <em>Geen adres opgegeven</em>
  </p>

  <h3>Contactgegevens</h3>

  <ul *ngIf="child.contact.phone.length !== 0">
    <li *ngFor="let phoneContact of child.contact.phone">
      {{ phoneContact.phoneNumber }} ({{ phoneContact.kind }})
    </li>
  </ul>

  <p *ngIf="child.contact.phone.length === 0">
    <em>Geen contactgegevens opgegeven</em>
  </p>

  <h3>Geboortedatum</h3>

  <p *ngIf="child.birthDate">
    {{ child.birthDate }}
  </p>
  <p *ngIf="!child.birthDate">
    <em>Geen geboortedatum opgegeven</em>
  </p>

  <button (click)="goBack()">Go Back</button>
  <button (click)="toggleDebug()">Extra informatie</button>

  <div *ngIf="showDebug">
    <hr/>
    <p>_id: {{ child._id }}</p>
    <p>_rev: {{ child._rev }}</p>
  </div>


</ion-content>
